*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(76, 77, 76);
  display: block;
   border: 10px;
}
.nav ul li{
padding: 8px;
  display: inline-block;
  text-align: justify;
  margin-right: 23px;
  margin-bottom: 4px;  
  background-size: cover;
  position: relative;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  margin: 2px;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
}
.nav ul li  :hover{
  color: blue;
  transition: 3s;
}
.nav ul li img{
  height: 40x;
  width: 40px;
 border-color: rgb(78, 77, 77);
 border-radius: 94px;
 padding: 8px;

}
div p{
  text-align: center;
  justify-content: center;
margin: 10px;
font-size: larger;
}
.iphone{
  width: 100%;
  height: 400px;
  
}
.pro{
  text-align: center;
  position: relative;
  top:0px;
  height: 340px;
  width: 100%;
  background-position: center;
  margin: 10px;
  font-size: xx-large;
  color: aliceblue;
  background-color: black;

}
.pro h3 {
  color: white;
  
}
.pro a{
  color: blue;
  font-size: medium;
}
.phone img{
  display: ruby-text;
  justify-content: space-evenly;
  margin: -4px;
  height: 620px;
  width: 100%;
  background-size: cover;
  position:relative;
  background-image: url(.iphone/img);
  
}
.new{
background-color:white;
color: black;
margin: 60px;
font-size: xx-large;


}
.new h3 {
  color: black;

}

.pic{
width: 100%;
height: auto;
}
.pic img{
  display: ruby-text;
  justify-content: space-evenly;
  margin: -4px;
  height: 320px;
  width: 95%;
  background-size: cover;
  position:relative;
}
.watch{
  
  width: 100%;
  height: auto;
  background-color: black;
}

.watch h1 h6 h3{
  color: white;
  margin: 50px;
  font-size: xx-large;  

}
.watch h6 {
  color: red;
}
.series img{
  display: ruby-text;
  justify-content: space-evenly;
  margin: -4px;
  height: 420px;
  width: 100%;
  background-size: cover;
  position:relative;
}
.both {

  width: 100%;
  height: auto;
  background-color: blueviolet;
  display:flex;

}
.ipad {

background-size: cover;
  width: 65%;
  height: auto;
  background-image: url(image/ipad.jpg);
  
}
.ipad h1 {
  text-align: center;
  margin: 10px;
}
.ipad a {
  color: blue;
font-size:medium;
display: inline;

}
.vision h5 {
  color:black;
  margin-top:6px;
  }
  .vision {
  background-size: cover;
  width: 50%;
  height: auto;
  background-image: url(image/vision.jpg);
  background-size: cover;
background-color: white;
}
.vision h1 {
color:black;
margin-top:550px;

}
.vision h4 {
  color:black;
  margin-top:6px;
  
  }
  .vision a {
    color:blue;
    margin-top:6px;
    font-size: medium;
    }
    
    .macpods {
      width: 100%;
      height: auto;
      background-color: blueviolet;
      display:flex;
    }
    .macbook {
      
        width: 50%;
        height: 90vh;
        background-image: url(image/macbook.jpg);
        background-size: cover;
    }

    .airpods {
      
      width: 50%;
      height:auto;
      background-image: url(image/airpods.jpg);
      background-size: cover;
    background-color: white;
    
    }

    .tradcard {
      width: 100%;
      height: auto;
      background-color: white;
      display:flex;
      margin-top: 80px;
    }

    .trad {
      width: 50%;
      height: 700px;
      background-image: url(image/trad\ in.jpg);
      background-size: cover;
    }

    .card {
      width: 50%;
      height: 70vh;
      background-image: url(image/card.jpg);
      background-size: cover;
    background-color: white;
    
    }
    .airpods h4{
      font-size: medium;
      color:white;

    }

.airpods h2{
  margin-top: 20px;
}

    .airpods a{
      font-size:medium;
      color: blue;

    }

    .macbook h2 {
      color: black;
      margin-right: 350px;  
      margin-top: 40px;
    
    }

    .macbook h4 {
      color: black;
      margin-right: 350px;
      font-size: medium;
    }
    .macbook a{
      color: blue;
      font-size: medium;
      margin-right: 350px;
    }
  
    .card h2,h4 {
      color: black;
      justify-content: ;
      
    }

    .card h3 {
    color: black;


    }
    .card a{
      color: blue;
      font-size: medium;
    }
    .trad h2{
      color: black;

    }
    .trad h3{
      color: black;
    }
    .trad a{
      color: blue;
      font-size: medium;
    }
.footer {
height: auto;
width: 100%;
background-size: cover;
color: black;
font-size: medium;
margin-top: 50px;
background-color: rgba(212, 212, 212, 0.932);

}
.lastpara p{
  padding: 30px 30px 30px 30px;
background-color: rgba(212, 212, 212, 0.932);  
}
.line {

  color: gray;
  width: 75%;
  height: auto;
  display: flex;
  margin-left: 10%;

}


.second li {

  text-decoration: none;
  margin-left: 50%;
  font-family:  sans-serif;
  font-size: medium;
  list-style: none;
}
.second {

  
  width: 20%;
  height: 60vh;

}
.second li {

  text-decoration: none;
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  list-style: none;

}
.third {

  
  width: 20%;
  height: 60vh;

}

.third li {

  text-decoration: none;
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  list-style: none;

}
.forth {

  
  width: 20%;
  height: 60vh;

}
.forth li {


  text-decoration: none;
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  list-style: none;


}
.fifth {

  
  width: 20%;
  height: 60vh;

}
.fifth li {


  text-decoration: none;
  margin-left: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  list-style: none;

}

/* end */